body {
  background-image: url(images/blueprint.jpg);
}

#yeet {
  text-align: center;
  width: 1000px;
  height: 720px;
  margin: auto;
  border-radius: 25px;
  background-color: rgba(255,255,255,0.8);
}

p {
  font-family: "Verdana", sans-serif;
}

h1 {
  font-family: "Courier New", serif;
  padding-bottom: 10px;
  padding-top: 40px;
  font-size: 51px;
  letter-spacing: 5px;
  font-variant: small-caps;
}

img {
  padding: 0px;
  margin-top: 0px auto;
}

.midtext {
  letter-spacing: 1px;
}

hr {
  border-color: red;
  width: 800px;
  color: rgb(255,0,0);
}

#footer {
  font-size: 12px;
  letter-spacing: 1px;
}

span {
  font-variant: small-caps;
}

#CPUtextt {
  color: #FF0000;
}

#Memtextt {
  color: #FF6A00;
}

#IOtextt {
  color: #297F0E;
}

a {
  text-decoration: none;
}

#CPUtextt:hover, #Memtextt:hover, #IOtextt:hover {
  font-style: italic;
}